<phpunit bootstrap="./bootstrap.php" verbose="true">
    <testsuite name="Music Tests">
        <directory>./application</directory>
        <directory>./library</directory>
    </testsuite>
    <filter>
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <whitelist>
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library</directory>
            <exclude>
                <directory suffiex=".phtml">../application/views</directory>
                <file>../application/Bootstrap.php</file>
                <file>../application/controllers/ErrorController.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
